.header {
  background: var(--gray-800);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-block: 1.25rem;

  & img {
    height: 2rem;
  }

  & h1 {
    color: var(--gray-100);
    font-size: 1.625rem;
    font-weight: 700;
  }
}
