.post {
  background-color: var(--gray-800);
  border-radius: 0.5rem;
  padding: 2.5rem;

  & > header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & time {
      font-size: 0.875rem;
      color: var(--gray-400);
    }
  }
}

.author {
  display: flex;
  align-items: center;
  gap: 1rem;

  & > div {
    & strong {
      display: block;
      color: var(--gray-100);
      line-height: 1.6;
    }

    & span {
      display: block;
      color: var(--gray-400);
      font-size: 0.875rem;
      line-height: 1.6;
    }
  }
}

.content {
  line-height: 1.6;
  color: var(--gray-300);
  margin-top: 1.5rem;

  & > p {
    margin-top: 1rem;
  }

  & a {
    font-weight: 700;
    color: var(--green-500);
    transition: color 0.1s;

    &:hover {
      color: var(--green-300);
    }
  }
}

.commentForm {
  width: 100%;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  border-top: 1px solid var(--gray-600);

  & > strong {
    line-height: 1.6;
    color: var(--gray-100);
  }

  & textarea {
    width: 100%;
    background-color: var(--gray-900);
    border: 0;
    resize: none;
    height: 6rem;
    padding: 1rem;
    border-radius: 0.5rem;
    color: var(--gray-100);
    line-height: 1.4;
    margin-top: 1rem;
  }

  & textarea:not(:placeholder-shown) + footer {
    visibility: visible;
    max-height: initial;
  }

  & footer {
    visibility: hidden;
    max-height: 0;
  }

  & button[type='submit'] {
    padding: 1rem 1.5rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    border: 0;
    background-color: var(--green-500);
    color: var(--white);
    font-weight: 700;
    cursor: pointer;

    transition: background-color 0.1s;

    &:hover {
      background-color: var(--green-300);
    }

    &:focus {
      outline: 0;
      background-color: var(--green-300);
    }
  }
}

.commentsList {
  margin-top: 2rem;
}
