.wrapper {
  max-width: 70rem;
  margin-inline: auto;
  padding-inline: 1rem;
  margin-top: 1rem;
  padding-bottom: 1rem;

  display: grid;
  grid-template-columns: 256px 1fr;
  gap: 2rem;

  align-items: flex-start;

  position: relative;

  & > aside {
    position: sticky;
    top: 1rem;
  }

  & > main {
    display: grid;
    gap: 2rem;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }

  .wrapper {
    grid-template-columns: 1fr;

    & > aside {
      position: initial;
    }
  }
}
